<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>登录</h1>
	<form action="#" th:action="@{login}" th:object="${user}" method="post">
	
		<p>账号:<input name="account" type="text" th:field="*{account}"  /> <span th:if="${#fields.hasErrors('account')}" th:errors="*{account}"></span></p>
		<p>密码:<input name="password" type="password" th:field="*{password}"  /> <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span></p>
		<p><input type="submit" value="提交" /></p>
	
	</form>
</body>
</html>